.footer__container{
  height: 152px;
  position: relative;

}
.contacts__text-footer{
  font-size: 11px;
  text-align: right;
  font-style: normal;
}

.social{
  display: inline-block;
  position: absolute;
  right: 200px;
  left: 700px;
}
.social:last-child{
  margin-right: 0;
}
.social__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.social__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;

}