
.footer__container{
  height: 132px;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.footer__container--section{
  margin-top: 0;
  height: 132px;
}
.footer__col{
  display: flex;
  align-items: center;
}
.footer__col--align--right{
  display: flex;
  align-items: flex-end;
  margin-top: -15px;
}
.contacts__text-footer{
  font-size: 11px;
  text-align: right;
  font-style: normal;
}

.social{
  margin-right: 74px;
}
.social:last-child{
  margin-right: 0;
}
.social__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.social__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  position: relative;

}

.social__item-telegram .social__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -122px -10px;
  opacity: 1;
  transition: opacity 0.3s;
}

.social__item-telegram .social__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -122px -66px;
  opacity: 0;
  transition: opacity 0.3s;
}

.social__item-telegram:hover .social__link:before {
  opacity: 0;
}

.social__item-telegram:hover .social__link:after {
  opacity:1 ;
}

.social__item-vk .social__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -10px -122px;
  opacity: 1;
  transition: opacity 0.3s;
}

.social__item-vk .social__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -66px -122px;
  opacity: 0;
  transition: opacity 0.3s;
}

.social__item-vk:hover .social__link:before {
  opacity: 0;
}

.social__item-vk:hover .social__link:after {
  opacity:1 ;
}

.social__item-fb .social__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -10px -10px;
  opacity: 1;
  transition: opacity 0.3s;
}

.social__item-fb .social__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -66px -10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.social__item-fb:hover .social__link:before {
  opacity: 0;
}

.social__item-fb:hover .social__link:after {
  opacity:1 ;
}

.social__item-instagram .social__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -10px -66px;
  opacity: 1;
  transition: opacity 0.3s;
}

.social__item-instagram .social__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprites-social.png) -66px -66px;
  opacity: 0;
  transition: opacity 0.3s;
}

.social__item-instagram:hover .social__link:before {
  opacity: 0;
}

.social__item-instagram:hover .social__link:after {
  opacity:1 ;
}