
.footer__container{
  height: 132px;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.footer__container--section{
  margin-top: 0;
  height: 132px;
}
.footer__col{
  display: flex;
  align-items: center;
}
.footer__col--align--right{
  display: flex;
  align-items: flex-end;
  margin-top: -15px;
}
.contacts__text-footer{
  font-size: 11px;
  text-align: right;
  font-style: normal;
}

.social{
  margin-right: 74px;
}
.social:last-child{
  margin-right: 0;
}
.social__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.social__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;

}
.social__item-telegram .social__link{
  background-image: url(../../img/telegram.png);
}
.social__item-telegram .social__link:hover{
  background-image: url(../../img/t-hover.png);
}

.social__item-vk .social__link{
  background-image: url(../../img/vk.png);
}
.social__item-vk .social__link:hover{
  background-image: url(../../img/vk-hover.png);
}

.social__item-fb .social__link{
  background-image: url(../../img/fb.png);
}

.social__item-fb .social__link:hover{
  background-image: url(../../img/fb-hover.png);
}

.social__item-instagram .social__link{
  background-image: url(../../img/instagram.png);
}
.social__item-instagram .social__link:hover{
  background-image: url(../../img/in-hover.png);
}