.hello{
  /* width: 511px; */
  /* margin: 0 0 138px 389px; */
  /* margin-left: 389px; */
  max-width: 1141px;
  /* margin-bottom: 138px; */

}

.hello__title{
  font-size: 72px;
  font-weight: bold;
}

.hello__text{
  font-style: 18px;
  margin-top: 18px;
  margin-bottom: 20px;
}